/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: Helvetica;
    font-size: 15px;
}

nav{

display: flex;
    justify-content: space-between;
    
}

nav img{
width: 150px;
}

 /* header{
    background-image: url("/images/landing.jpg");
    backgroun
} */